#wrapper {
  width: 80%;
  background-color: #C7FFD7;
  margin: 0 auto 0 auto;
  overflow: auto;
}

#mainPicture {
  width: 70%;
  height: 470px;
  background-color: #B8F5FF;
  margin: 0 auto 0 auto;
}

.thumbnail1, .thumbnail2, .thumbnail3, .thumbnail4 {
  width: 15%;
  background-color: #EBC4FF;
  margin-top: 50px;
  margin-left: 8%;
  float: left;
  
}

.thumbnail1-border, .thumbnail2-border, .thumbnail3-border, .thumbnail4-border {
  width: 15%;
  background-color: #EBC4FF;
  margin-top: 30px;
  margin-left: 8%;
  float: left;
  border: red solid 2px;
}

img {
  width: 100%;
}

.pict1 {
  border: red solid 2px;
}