*{
	padding: 0;
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	font-weight: 200;
	color: #47494B
}

a{
	text-decoration: none;
}

/* ########### HEADER ######################################## */
header{
	position: fixed;
	width: 100%;
	height: 90px;
	background-color: #CCD3D7;
	z-index: 10000;
}

.logo{
	display: inline;
	position: absolute;
	top: 12px;
	left: 25px;
}

nav{
	position: absolute;
	right: 30px;
	top:30px;
}

nav ul li{
	display: inline-block;
	margin-right: 30px;
	font-size: 20px;
	letter-spacing: 0.1em;
	-moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .8s ease-in;
    transition: all .5s ease-in;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
  color: #ADB2B8;
  
}

nav ul li input{
	background-color: #5F6265;
}

/* ########### ABOUT SECTION ######################################## */
.about{
	width: 100%;
	padding: 15px;	
	margin-top: 90px;
	background-color: #C1E1D1;
	height: auto;
	float: left;
}

/* ########### PLANNING SECTION ######################################## */
.planning{
	width: 100%;
	background-color: #B6C6BD;
	padding: 15px;
	float: left;
}

/* ########### FUNDING SECTION ######################################## */
.funding{
	width: 100%;
	background-color: #C1E1D1;
	padding: 15px;
	float: left;
}

.images{
	width: 49%;
	float: right;	
}

.texts{
	width: 49%;
	float: left;
}

/* ########### FACTS SECTION ######################################## */
.facts{
	width: 100%;
	background-color: #60C38C;
	float: left;
	padding: 15px;
}

.h-facts{
	text-align: center;
	font-size: 3em;
}

ul.facts-list li{
	display: inline-block;
	width: 50%;
	font-size: 1.7em;
	float: left;
	text-align: center;
	padding: 10px 0 10px 0;
}
i.fa{
	font-size: 0.4em;
	vertical-align: middle;
	padding: 0px 5px 3px 5px;
}

i.fa.fa-hand-o-right{
	font-size: 30px;
}

/* ########### TENANTS SECTION ######################################## */
.tenants{
	width: 100%;
	background-color: #B6C6BD;
	float: left;
	padding: 15px;
}

.tenents-side{
	float: left;
	width: 47%;
}

.tenents-side>input{
	background-color: #DAD4E1;
	width: 35%; 
}

table{
	width: 100%;
}

th{
	background-color: #BFB9C4;
	font-weight: 400;
}

td{
	background-color: #DAD4E1;
	text-align: center;
}

h4{
	font-size: 1.5em;
}

.search {
	margin-top: 10px;
}

.booking-side{
	float: left;
	width: 35%;
	margin-left: 50px;
}

.booking-form{
	padding: 7px;
	margin-top: 3px;
}

input.date, input.people, input.floor, input.children, input.phone, input.email{
	float: right;
	width: 36%;
	background-color: #DAD4E1;
}

select.restaurants{
	float: right;
	width: 38%;
}

button.submit{
	float: right;
	width: 38%;
	margin-top: 20px;
}

/* ########### IFRAMES SECTION ######################################## */
.iframes{
	width: 100%;
	background-color: #C1E1D1;
	float: left;
	padding: 15px;
}

.iframe-left{
	float: left;
	width: 49%;
}

.iframe-right{
	float: left;
	margin-left: 20px;
	width: 49%;
}